PORT=8080

# Database connect
DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=your_password
DB_DATABASE=your_database_name

# JWT
JWT_SECRET="your_key"
JWT_EXPIRES_IN="1h"

# Frontend CORS 
FRONTEND_URL=http://localhost:8443 
FRONTEND_DEV_URL=http://localhost:5173